* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  margin: 18px 19px;
}

.header {
  background-color: #444444f7;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 18px; */
  /* margin-left: 19px; */
  /* height: 72px; */
}

.header .logo img {
  width: 70px;
}
.links {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 20px;
}

.links a {
  display: flex;
  text-decoration: none;
  color: white;
}
#h {
  color: yellow;
}
#button {
  background-color: yellow;
  width: 90px;
  height: 25px;
  border: none;
  border-radius: 4px;
}
.content1 {
  position: relative;
}
.content1 img {
  width: 100%;
  height: auto;
  margin-top: 18px;

  /* display: flex; */
}

#butreg {
  position: absolute;
  width: 250px;
  height: 52px;
  top: 407px;
  left: 50px;
  border-radius: 6px;
  background-color: #fce207;
  color: white;
  border: none;
}
.content2 p {
  margin-top: 20px;
}
.content2 .more {
  margin-left: 40px;
  font-size: 20px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subcontent {
  position: relative;
  width: 400px;
  height: 300px;
}

.sub {
  position: absolute;
  width: 200px;
  height: 270px;
  left: 69px;
  top: 50px;
}
.sub h6 {
  font-size: medium;
  padding-top: 10px;
}
.sub button {
  background-color: #fce207;
  width: 120px;
  margin-top: 15px;
  margin-left: 15px;
  color: #ffffff;
  height: 25px;
  border: none;
}
.main-content3 {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 300px;
}
.benefit {
  position: relative;
  width: 254px;
  height: 322;
  left: 60px;
  font-family: Montserrat;
}
.benefit a {
  color: #fce207;
  margin-top: 18px;

  font-size: 18px;
  text-decoration: none;
}
.main-footer {
  display: flex;
  align-items: center;

  justify-content: space-between;
}
/* .Tabout {
  display: flex;
} */
.footer {
  background: #404040;
  margin-top: 40px;
  height: 230px;
}
.main-footer img {
  height: 224px;
  width: 383px;
}
.Tabout {
  display: flex;
  gap: 300px;
  align-items: center;
  /* left: 40px; */
  background: #ffffff;
  width: 803px;
  padding-top: 10px;
  height: 114px;
  margin: 10px;
  left: 60px;
  margin-right: 20px;
}
.right {
  margin-left: 30px;
}
.maintabout {
  position: absolute;
  background: #ffffff;
  left: 650px;
  /* margin-top: 20px; */
}
.maintabout h2 {
  position: relative;
  /* margin-top: 20px; */
  top: 20px;
  left: 30px;
  /* top: 10px; */
}
.maintabout .break {
  width: 805px;
  height: 6px;
  background: #fce207;
  border-radius: 6px;
  margin-top: 20px;
  margin-left: 25px;
}
